:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: black;
    --white-color: #FFFFFF;
    --blue-color: #2196F3;

}

body {
    font-family: var(--main-font);
}

/* ======= COMPONENTS ======= */

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo-blue {
 color: var(--blue-color);
}


a {
    text-decoration: none;
    color: var(--main-color);
}

.secondary-header {
    
}

/* ======= END COMPONENTS ======= */

.menu-navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

/* ======= <HEADER> (MENU NAVIGATION) ======= */
/* ======= END <HEADER> (MENU NAVIGATION) ======= */

/* ======= <MAIN> (HEADER)  ======= */

.header {
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
    text-align: center;
}

.main-header {
    color: var(--white-color);
}

.menu-navigation-list-link {
 font-weight: 600;
 font-size: 12px;
 line-height: 1.33;
 letter-spacing: 0.1em;
 color:black;
}

.menu-navigation-list-link:hover, 
.menu-navigation-list-link:focus,
.menu-contacts-list-link:hover,
.menu-contacts-list-link:focus {
    color: var(--blue-color);
}

/* ======= END <MAIN> (HEADER) ======= */

/* ======= WHY US ======= */
/* ======= END WHY US ======= */


/* ======= OFFER ======= */
/* ======= END OFFER ======= */


/* ======= TEAM ======= */
/* ======= END TEAM ======= */


/* =======  CONTACT ======= */
/* ======= END CONTACT ======= */