:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --white-color: #ffffff;
  --blue-color: #2196f3;
}

body {
  font-family: var(--main-font);
}

/* ======= COMPONENTS ======= */

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-white {
    color: var(--white-color);
}

.logo-blue {
  color: var(--blue-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ======= END COMPONENTS ======= */

/* ======= <HEADER> (MENU NAVIGATION) ======= */

.menu-navigation-list-link,
.menu-contacts-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.menu-contacts-list-link {
  color: #757575;
}

.menu-navigation-list-link:hover,
.menu-navigation-list-link:focus,
.menu-contacts-list-link:hover,
.menu-contacts-list-link:focus {
  color: var(--blue-color);
}

/* ======= END <HEADER> (MENU NAVIGATION) ======= */

/* ======= <MAIN> (HEADER)  ======= */

.background-header {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}

.main-header {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-btn {
  background-color: var(--blue-color);
  color: var(--white-color);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ======= END <MAIN> (HEADER) ======= */

/* ======= WHY US ======= */

.article-header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.article-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
/* ======= END WHY US ======= */

/* ======= OFFER ======= */

/* ======= END OFFER ======= */

/* ======= TEAM ======= */

/* .team {
    background-color: #F5F4FA;
    width: 1600px;
    height: 648px;
} */

.team-list {
  list-style: none;
}
.team-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
/* ======= END TEAM ======= */

/* =======  CONTACT ======= */

.contact {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
}

.address-list-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.address-list-link.white {
    color: var(--white-color);
}
/* ======= END CONTACT ======= */
